th {
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.default-button {
  height: 30px;
  padding: 0px 6px;
}

.blue-button {
  background-color: #47afeb;
  color: white;
  border: 2px solid #47afeb;
  transition-duration: 250ms;
}

.blue-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #eb6500;
}

.table-button-container {
  width: max-content;
  text-align: center;
}

.default-container {
  width: max-content;
  justify-content: center;
}

.button-container {
  margin-top: 20px;
  position: relative;
  right: 0;
}

.add-employee-container {
  padding: 10px;
  margin-top: 50px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.flex {
  display: flex;
  column-gap: 20px;
}

.left-align {
  text-align: left;
}

.edit-button,
.delete-button {
  width: 70px;
}